{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="box">
  <div id="welldone">
  <header>
    <img src="{{STATIC_URL}}/images/smile.svg" height="70" width="70"/>
    <h1>Well Done.</h1>
    <p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
    <p class="secondary_alert">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder. " %}</p>
  </header>
</div>
</div>
{% endblock %}
