{% extends "base.html" %}

{% block content %}
<div class="box reset-password">
    <header>
      <img src="{{STATIC_URL}}/images/email.svg" height="70" width="70"/>
      <h1>Reset your password.</h1>
      <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    </header>
  <form class="reset-password" action="" method="post">
  <div>
    {{ form.email.errors }}
    {% csrf_token %}
    {{ form.email }}
  </div>
    <footer class='flex-end'>
       <input class="button" type="submit" value="Reset my password" />
    </footer>
  </form>
</div>
{% endblock %}
